<header class="site-header">
  <div class="container header-container">
    <a class="header-logo" href="#">watchcharm</a>
    <button
      class="header-btn-menu"
      title="open menu on tablet and mobile devices"
      data-mobile-modal-open
    >
      <svg width="28" height="14">
        <use href="/img/sprite.svg#menu-btn"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-items">
          <a class="header-nav-link psevdo" href="#home">Home</a>
        </li>
        <li class="header-nav-items">
          <a class="header-nav-link psevdo" href="#about_us">About us</a>
        </li>
        <li class="header-nav-items">
          <a class="header-nav-link psevdo" href="#catalog">Catalog</a>
        </li>
        <li class="header-nav-items">
          <a class="header-nav-link psevdo" href="#sale">Sale</a>
        </li>
        <li class="header-nav-items">
          <a class="header-nav-link psevdo" href="#rewiews">Reviews</a>
        </li>
        <li class="header-nav-items">
          <a class="header-nav-link psevdo" href="#contact_us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social">
      <li class="header-social-items">
        <a
          class="header-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          aria-label="GoIT on facebook"
        >
          <svg class="header-social-icon" width="20" height="20">
            <use href="/img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-items">
        <a
          class="header-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          aria-label="GoIT on instagram"
        >
          <svg class="header-social-icon" width="20" height="20">
            <use href="/img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-items">
        <a
          class="header-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          aria-label="GoIT on youtube"
        >
          <svg class="header-social-icon" width="20" height="20">
            <use href="/img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- Header -->
  </div>
</header>
