<section class="section hero">
  <div class="container">
    <div class="hero-main-container">
      <div class="hero-text-container">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-span">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-positioned-container">
        <ul class="hero-positioned-images-list">
          <li class="hero-positioned-item">
            <img
              srcset="
                /img/hero-people-1_1x.jpg 1x,
                /img/hero-people-1_2x.jpg 2x
              "
              src="/img/hero-people-1_1x.jpg"
              alt="Person 1"
              class="hero-positioned-image"
            />
          </li>
          <li class="hero-positioned-item">
            <img
              srcset="
                /img/hero-people-2_1x.jpg 1x,
                /img/hero-people-2_2x.jpg 2x
              "
              src="/img/hero-people-2_1x.jpg"
              alt="Person 2"
              class="hero-positioned-image"
            />
          </li>
          <li class="hero-positioned-item">
            <img
              srcset="
                /img/hero-people-3_1x.jpg 1x,
                /img/hero-people-3_2x.jpg 2x
              "
              src="/img/hero-people-3_1x.jpg"
              alt="Person 3"
              class="hero-positioned-image"
            />
          </li>
        </ul>
        <a href="#footer" class="hero-scroll-link">Scroll down</a>
      </div>
    </div>
    <div class="hero-image-container"></div>
  </div>
</section>
