<div class="modal-mobile-menu" data-mobile-menu-window>
  <button
    type="button"
    class="href-close-modal"
    title="close menu for tablet and mobile devices"
    data-mobile-modal-close
  >
    <svg class="icon-close-modal">
      <use href="/img/sprite.svg#close-btn"></use>
    </svg>
  </button>
  <nav class="mobile-site-navigation">
    <ul class="mobile-menu-site">
      <li>
        <a
          href="#home"
          class="mobile-site-nav-link current"
          data-mobile-modal-menu-home
          >Home</a
        >
      </li>
      <li>
        <a
          href="#about_us"
          class="mobile-site-nav-link"
          data-mobile-modal-menu-about_us
          >About Us</a
        >
      </li>
      <li>
        <a
          href="#catalog"
          class="mobile-site-nav-link"
          data-mobile-modal-menu-catalog
          >Catalog</a
        >
      </li>
      <li>
        <a href="#sale" class="mobile-site-nav-link" data-mobile-modal-menu-sale
          >Sale</a
        >
      </li>
      <li>
        <a
          href="#rewiews"
          class="mobile-site-nav-link"
          data-mobile-modal-menu-rewiew
          >Reviews</a
        >
      </li>
      <li>
        <a
          href="#contact_us"
          class="mobile-site-nav-link"
          data-mobile-modal-menu-contact_us
          >Contact Us</a
        >
      </li>
    </ul>
  </nav>
  <ul class="mobile-menu-social-networks">
    <li class="item-social-list">
      <a
        href="https://www.facebook.com/goITclub/"
        class="href-social-media"
        target="_blank"
        aria-label="GoIT on facebook"
      >
        <svg class="mobile-menu-social-icon">
          <use href="/img/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="item-social-list">
      <a
        href="https://www.instagram.com/goitclub/"
        class="href-social-media"
        target="_blank"
        aria-label="GoIT on instagram"
      >
        <svg class="mobile-menu-social-icon">
          <use href="/img/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="item-social-list">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="href-social-media"
        target="_blank"
        aria-label="GoIT on youtube"
      >
        <svg class="mobile-menu-social-icon">
          <use href="/img/sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
