<section class="section sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-content">
      <div class="sale-watches">
        <ul class="sale-watches-line">
          <li class="little-watch-picture">
            <picture
              ><source
                srcset="
                  /img/sale-img/sale-pc/sale-1-pc.avif       1x,
                  /img/sale-img/sale-pc-2x/sale-1-pc-2x.avif 2x
                "
                media="(min-width:1280px)" />
              <source
                srcset="
                  /img/sale-img/sale-mobile/sale-1-mobile.avif       1x,
                  /img/sale-img/sale-mobile-2x/sale-1-mobile-2x.avif 2x
                "
                media="(max-width:767px)" />
              <source
                srcset="
                  /img/sale-img/sale-tablet/sale-1-tablet.avif       1x,
                  /img/sale-img/sale-tablet-2x/sale-1-tablet-2x.avif 2x
                "
                media="(min-width:768px)" />
              <img
                src="/src/img/sale-img/sale-mobile/sale-1-mobile.avif"
                alt="watch-1"
            /></picture>
          </li>
          <li class="little-watch-picture">
            <picture
              ><source
                srcset="
                  /img/sale-img/sale-pc/sale-2-pc.avif       1x,
                  /img/sale-img/sale-pc-2x/sale-2-pc-2x.avif 2x
                "
                media="(min-width:1280px)" />
              <source
                srcset="
                  /img/sale-img/sale-mobile/sale-2-mobile.avif       1x,
                  /img/sale-img/sale-mobile-2x/sale-2-mobile-2x.avif 2x
                "
                media="(max-width:767px)" />
              <source
                srcset="
                  /img/sale-img/sale-tablet/sale-2-tablet.avif       1x,
                  /img/sale-img/sale-tablet-2x/sale-2-tablet-2x.avif 2x
                "
                media="(min-width:768px)" />
              <img
                src="/src/img/sale-img/sale-mobile/sale-2-mobile.avif"
                alt="watch-2"
            /></picture>
          </li>
          <li class="little-watch-picture">
            <picture
              ><source
                srcset="
                  /img/sale-img/sale-pc/sale-3-pc.avif       1x,
                  /img/sale-img/sale-pc-2x/sale-3-pc-2x.avif 2x
                "
                media="(min-width:1280px)" />
              <source
                srcset="
                  /img/sale-img/sale-mobile/sale-3-mobile.avif       1x,
                  /img/sale-img/sale-mobile-2x/sale-3-mobile-2x.avif 2x
                "
                media="(max-width:767px)" />
              <source
                srcset="
                  /img/sale-img/sale-tablet/sale-3-tablet.avif       1x,
                  /img/sale-img/sale-tablet-2x/sale-3-tablet-2x.avif 2x
                "
                media="(min-width:768px)" />
              <img
                src="/src/img/sale-img/sale-mobile/sale-3-mobile.avif"
                alt="watch-3"
            /></picture>
          </li>
          <li class="little-watch-picture">
            <picture
              ><source
                srcset="
                  /img/sale-img/sale-pc/sale-4-pc.avif       1x,
                  /img/sale-img/sale-pc-2x/sale-4-pc-2x.avif 2x
                "
                media="(min-width:1280px)" />
              <source
                srcset="
                  /img/sale-img/sale-mobile/sale-4-mobile.avif       1x,
                  /img/sale-img/sale-mobile-2x/sale-4-mobile-2x.avif 2x
                "
                media="(max-width:767px)" />
              <source
                srcset="
                  /img/sale-img/sale-tablet/sale-4-tablet.avif       1x,
                  /img/sale-img/sale-tablet-2x/sale-4-tablet-2x.avif 2x
                "
                media="(min-width:768px)" />
              <img
                src="/src/img/sale-img/sale-mobile/sale-4-mobile.avif"
                alt="watch-4"
            /></picture>
          </li>
        </ul>
        <div class="big-watch-picture">
          <picture
            ><source
              srcset="
                /img/sale-img/sale-pc/sale-big-pc.avif       1x,
                /img/sale-img/sale-pc-2x/sale-big-pc-2x.avif 2x
              "
              media="(min-width:1280px)" />
            <source
              srcset="
                /img/sale-img/sale-mobile/sale-big-mobile.avif       1x,
                /img/sale-img/sale-mobile-2x/sale-big-mobile-2x.avif 2x
              "
              media="(max-width:767px)" />
            <source
              srcset="
                /img/sale-img/sale-tablet/sale-big-tablet.avif       1x,
                /img/sale-img/sale-tablet-2x/sale-big-tablet-2x.avif 2x
              "
              media="(min-width:768px)" />
            <img
              src="/img/sale-img/sale-mobile/sale-big-mobile.avif"
              alt="big-watch"
          /></picture>
        </div>
      </div>
      <div class="blue-bg">
        <h3 class="sale-blue-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-after-title">Product tag: 706587</p>
        <div class="price-container">
          <button class="price" type="submit">€1500</button>
          <p class="full-price">€3000</p>
        </div>
        <p class="sale-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="variant-list">
          <li><button class="variant">Fused carbon fiber</button></li>
          <li>
            <button class="variant">Grade-5 Titanuim</button>
          </li>
          <li><button class="variant">Athlete</button></li>
          <li><button class="variant">Golfer</button></li>
          <li><button class="variant">Commander</button></li>
          <li><button class="variant">Adventurer</button></li>
        </ul>
      </div>
    </div>
  </div>
</section>
