@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('/fonts/Gilroy-Regular.woff') format('woff'),
    url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('/fonts/Gilroy-Bold.woff') format('woff'),
    url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('/fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('/fonts/Gilroy-SemiBold.woff') format('woff'),
    url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('/fonts/Gilroy-Medium.woff') format('woff'),
    url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
  letter-spacing: -0.02em;
  background-color: #fbfbfb;
}
