.site-header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  max-width: 375px;
  background-color: #fbfbfb;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 16px;
}

.header-btn-menu {
  width: 34px;
  height: 34px;
  padding: 12px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-nav {
  display: none;
}

.header-social {
  display: none;
}

@media screen and (min-width: 768px) {
  .container.header-container {
    max-width: 768px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header-logo {
    font-size: 20px;
  }
  .header-btn-menu {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container.header-container {
    max-width: 1280px;
  }
  .header-btn-menu {
    display: none;
  }

  .header-nav {
    display: inline;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .psevdo {
    position: relative;
  }
  .psevdo::after {
    opacity: 0;
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -11px;
    background-color: #3350e9;
    border-radius: 100%;
    transition: opacity 250ms linear;
  }
  .header-nav-items:first-child .psevdo::after {
    opacity: 1;
  }
  .header-nav-items:hover .psevdo::after {
    opacity: 1;
  }

  .header-social {
    display: flex;
    gap: 10px;
  }

  .header-social-items .header-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
  }

  .header-social-items .header-social-icon {
    fill: #0c0c0c;
    opacity: 0.8;
    transition: fill 250ms linear, border-color 250ms linear;
  }

  .header-social-link:hover .header-social-icon,
  .header-social-link:focus .header-social-icon {
    fill: #3350e9;
    border-color: rgba(51, 80, 233, 0.1);
  }
}
