/* Styles for Mobile devices */
.section {
  min-width: 320px;
  padding-top: 60px;
  padding-bottom: 0;
}
/* Styles for Tablet devices */
@media (min-width: 768px) {
  .section {
    padding-top: 80px;
  }
}
/* Styles for Desktop devices */
@media (min-width: 1280px) {
  .section {
    padding-top: 100px;
  }
}
